<div ng-controller="interstellar-network-widgets.HistoryWidgetController as widget">
  <div class="mcs-stellard-history-historyEntry" ng-repeat="payment in widget.payments">
    <span class="mcs-stellard-history-historyEntry__location">{{payment.display_address}}</span>
    <span class="mcs-stellard-history-historyEntry__amount">
      <span ng-if="payment.direction === 'out'">- </span>{{payment.display_amount}}
    </span>
    <span class="mcs-stellard-history-historyEntry__time">
      <span ng-if="payment.direction === 'out'">Sent</span>
      <span ng-if="payment.direction === 'in'">Received</span>
      on 5/3/2015
    </span>
    <span class="mcs-stellard-history-historyEntry__issuer">{{payment.asset_issuer}}</span>
  </div>
</div>
