<div class="mcs-stellard-preSend" ng-controller="interstellar-network-widgets.PreSendWidgetController as widget">
  <form ng-submit="widget.go()">
    <label class="s-inputGroup mcs-login-inputGroup">
      <span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-none">Send to</span>
      <input class="s-inputGroup__item mcs-login-inputGroup__input" type="text" placeholder="type a username or address to send" ng-model="widget.destination" />
    </label>
    <div class="s-inputGroup" ng-if="widget.destination">
      <button class="s-button" ng-click="widget.send()">Send</button>
    </div>
  </form>
</div>
