<div ng-controller="interstellar-network-widgets.ReceiveWidgetController as widget">
  <div class="mcs-stellard-receive-receiveContainer">
    <p class="mcs-stellard-receive-receiveContainer__item mcs-stellard-receive-receiveInfo">
      <span class="mcs-stellard-receive-receiveInfo__label">Your username</span>
      <span class="mcs-stellard-receive-receiveInfo__data">{{widget.username}}</span>
    </p>
    <p class="mcs-stellard-receive-receiveContainer__item mcs-stellard-receive-receiveInfo">
      <span class="mcs-stellard-receive-receiveInfo__label">Your address</span>
      <span class="mcs-stellard-receive-receiveInfo__data">{{widget.address}}</span>
    </p>
  </div>
  <div class="mcs-stellard-receive-friendbot">
    <div><a href="" ng-click="widget.friendbot()">Get test lumens</a></div>
    <div><span ng-if="widget.friendbotSent">Lumens are on their way!</span></div>
  </div>

</div>
