<div ng-controller="interstellar-network-widgets.ReceiveWidgetController as widget">
  <div class="ims-network-receive-receiveContainer">
    <p class="ims-network-receive-receiveContainer__item ims-network-receive-receiveInfo">
      <span class="ims-network-receive-receiveInfo__label">Your username</span>
      <span class="ims-network-receive-receiveInfo__data">{{widget.username}}</span>
    </p>
    <p class="ims-network-receive-receiveContainer__item ims-network-receive-receiveInfo">
      <span class="ims-network-receive-receiveInfo__label">Your address</span>
      <span class="ims-network-receive-receiveInfo__data">{{widget.address}}</span>
    </p>
  </div>

</div>
