<div ng-controller="interstellar-network-widgets.SendWidgetController as widget">
  <form class="mcs-stellard-send-sendForm">
    <ul ng-if="widget.errors">
      <li ng-repeat="error in widget.errors">
        {{error}}
      </li>
    </ul>
    <div class="s-inputGroup">
      <span class="s-inputGroup__item S-flexItem-full mcs-stellard-send-sendForm__label">Send to</span>
      <input class="s-inputGroup__item mcs-stellard-send-sendForm__sendTo" ng-model="widget.destinationAddress" placeholder="wallet address" type="text">
    </div>
    <div class="s-inputGroup">
      <span class="s-inputGroup__item S-flexItem-full mcs-stellard-send-sendForm__label">Amount</span>
      <input class="s-inputGroup__item mcs-stellard-send-sendForm__amount S-flexItem-share" ng-model="widget.amount" placeholder="" type="text">
      <select class="s-inputGroup__item S-flexItem-none mcs-stellard-send-sendForm__currency">
        <option value="STR">STR</option>
      </select>
    </div>
    <div class="s-inputGroup">
      <button class="s-button s-inputGroup__item--full" ng-click="widget.send()">Send</button>
    </div>
  </form>
</div>
