<div ng-controller="interstellar-network-widgets.SendWidgetController as widget">
  <form class="ims-network-send-sendForm">
    <interstellar-ui-messages-alerts group="widget.alerts"></interstellar-ui-messages-alerts>
    <div class="s-inputGroup">
      <span class="s-inputGroup__item S-flexItem-full ims-network-send-sendForm__label">Send to</span>
      <input class="s-inputGroup__item ims-network-send-sendForm__sendTo" ng-model="widget.destination" ng-model-options="{debounce: 1000}" placeholder="wallet address" type="text">
    </div>
    <div class="s-inputGroup" ng-if="widget.destinationAddress">
      Transfer will be sent to: {{widget.destinationAddress}}
    </div>
    <div class="s-inputGroup">
      <span class="s-inputGroup__item S-flexItem-full ims-network-send-sendForm__label">Amount</span>
      <input class="s-inputGroup__item" ng-model="widget.amount" placeholder="" type="text">
      <select class="s-inputGroup__item S-flexItem-noFlex ims-network-send-sendForm__currency">
        <option value="XLM">XLM</option>
      </select>
    </div>
    <div class="s-inputGroup">
      <button class="s-button s-inputGroup__item--full" ng-click="widget.send()">Send</button>
    </div>
  </form>
</div>
