.ims-network-balance-balanceEntry {
  @include S-flex-row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.ims-network-balance-balanceEntry__amount {
  flex: 12 0 100%;
  text-align: center;
  font-size: $s-scale-c;
  line-height: 1;
}
.ims-network-balance-balanceEntry__currency {
  font-size: $s-scale-down1;
  color: $s-color-neutral6;
}