
.ims-network-receive-receiveContainer {
  @include S-flex-row;
}
  .ims-network-receive-receiveContainer__item {
    flex: 12;
  }

.ims-network-receive-receiveInfo {
  padding: 12px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
  .ims-network-receive-receiveInfo__label {
    display: block;
    font-size: $s-scale-down1;
    line-height: 1;
  }
  .ims-network-receive-receiveInfo__info {
    border-bottom: 1px dotted $s-color-light1;
  }
.ims-network-receive-friendbot {
  padding: 12px;
}