
.mcs-stellard-receive-receiveContainer {
  @include S-flex-row;
}
  .mcs-stellard-receive-receiveContainer__item {
    flex: 12;
  }

.mcs-stellard-receive-receiveInfo {
  padding: $s-spacing-widgetPadding;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
  .mcs-stellard-receive-receiveInfo__label {
    display: block;
    font-size: $s-scale-down1;
    line-height: 1;
  }
  .mcs-stellard-receive-receiveInfo__info {
    border-bottom: 1px dotted $s-color-F;
  }
.mcs-stellard-receive-friendbot {
  padding: $s-spacing-widgetPadding;
}