.ims-network-send-sendForm {
  padding: $s-spacing-widgetPadding;
}
.ims-network-send-sendForm__sendTo {
}
// hmm dilemma .. these aren't direct descendants
// since there is an inputGroup
.ims-network-send-sendForm__amount {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ims-network-send-sendForm__currency {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}